doctype xml
urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
  - Book.published.preload(title_works: :author_alias).each do |book|
    url
      loc = book_url(id: book.id, slug: parameterize(book_title(book, works: book.title_works)))
      changefreq always
      lastmod = book.updated_at.to_formatted_s(:iso8601)
      - if book.cover_uid?
        image:image
          image:loc = imagekit_url(book.cover_uid, tr: {w: 640})
          image:title Обкладинка до книги «#{book.title}»
