= title "Адмін панель"

ul
  - %w[books authors work_types publishers].each do |controller_name|
      li = link_to t("admin.#{controller_name}.index.title"), polymorphic_path([:admin, controller_name])
