.footer-container {
  color: $secondary-color;
  margin-bottom: 0.5rem;
  @include container;

  > .menu {
    margin-bottom: $global-margin;
  }

  > .cloud66 > img {
    margin: 1em 0;
    width: 35ch;
  }
}
