dl.inline {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: visible;

  > dt {
    flex: 0 0 50%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  > dd {
    flex:0 0 50%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
